
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3></br></br> </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Your Email</label>
                <input type="text" class="form-control" name="name" value="" readonly id="txtEmail" />

            </div>
            <div class="col-sm-6 form-group">
                <label>Your Total Stake Amount</label>
                <input type="text" class="form-control" name="name" value="" readonly id="txtTotalStake" />

            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Game</th>
                            <th>Home</th>
                            <th>Draw</th>
                            <th>Away</th>
                            <th>Stake Amount</th>

                        </tr>
                    </thead>
                    <tbody id="SetOddList">
                    

                    </tbody>
                   
                </table>


            </div>
            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn my btn-success">STAKE ALL</button>
                        <table id="example2" class="table table-bordered table-striped">
                            <thead>
                                @*<tr>All My Stakes</tr>*@
                                <tr>
                                    <th>Game</th>
                                    <th>Home Value</th>
                                    <th>Draw value</th>
                                    <th>Away Value</th>
                                    <th>Game Stake Amount</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody id="SetOddList">
                                @*<tr>
                                    <td><div>ArsenalVSChelsea</div></td>

                                    <td>   <button type="button" id="mybtn" class="btn my btn-primary">1</button></td>
                                    <td>    <button type="button" class="btn my btn-primary">x</button></td>
                                    <td>   <button type="button" class="btn my btn-primary">2</button><a href="#" onclick="alert('Hey You')">content</a></td>

                                    <td>
                                        <input type="text" name="name" value="" placeholder="Stake Amount" />
                                    </td>
                                    <td>
                                        <button type="button" class="btn my btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button>

                                    </td>
                                </tr>*@

                            </tbody>

                        </table>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
    </div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/DataTables-1.10.18/js/jquery.dataTables.js"></script>

    <script>

        var chk = $(".my").click(function () {
            $(this).toggleClass('btn-success');
            // alert($(this).attr('class'));


            if ($(this).attr('class') == 'btn my btn-primary btn-success') {
                alert("success");
            }

            else {
                alert("primary");
            }


        });


        $(document).ready(function () {
        
       

            $.get("/Punter/GetOddsList", null, DataBind);
            function DataBind(OddsList) {
                var SetData = $("#SetOddList");

                for (var i = 0; i < OddsList.length; i++) {
                    var Data = "<tr class='row_" + OddsList[i].oddID + "'>" +
                        "<td>" + OddsList[i].gameName + "</td>" +
                        "<td>" + "<a href='#' id='btnIndHome'" + "class='btn my btn-primary'>" + OddsList[i].homeValue + "</a>" + "</td>" +
                        // "<td>" + "<a href='#' id='btnIndDraw'" + "style='color: red;'" + OddsList[i].drawValue + "</a>" + "</td>" +
                        "<td>" + "<a href='#' id='btnIndDraw'" + "class='btn my btn-primary'>" + OddsList[i].drawValue + "</a>" + "</td>" +
                        "<td>" + "<a href='#' id='btnIndAway'" + "class='btn my btn-primary' onClick = 'alert('Ok')'>" + OddsList[i].awayValue + "</a>" + "</td>" +

                        //"<td>" + "<button type='button'"+"style ='color: yellow;' class='my'>" + OddsList[i].awayValue +"</button>"+"</td>"+

                        // "<a href='#' id='btnIndAway' class='btn my btn - primary'>' + '' + '</a></td>" +
                        "<td> " + "<input type = 'text' name = 'name' id = 'txtIndStakeAmt' placeholder = 'Stake Amount'/>" + "<br/>" +
                        "<a href='#' id='btnIndStake'  onclick='alert('Hey You') class='btn btn-success btn-sm'>Stake</a>" +
                        "</td>" + "</tr>";


                    SetData.append(Data);

                }
            }
           

        });

        
        $(function () {
            $('#example1').DataTable()
            //$('#example2').DataTable({
            //    'paging': true,
            //    'lengthChange': false,
            //    'searching': false,
            //    'ordering': true,
            //    'info': true,
            //    'autoWidth': false
            //})
        })

        //To populate the table with customers details
        // $("#LoadingStatus").html("Loading...");

        //debugger
       
    </script>
}
